<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sakamoto Shop</title>

    <!-- FONTS & ICONS  -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <link rel="stylesheet" href="/css/main.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>
<body>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg navbar-dark shadow-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SAKAMOTO's</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavResponsive"
                aria-controls="navbarNavResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-grow-0" id="navbarNavResponsive">
            <ul class="navbar-nav text-right">
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/saleshistory">Sales History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/admin">Manage Products</a>
                </li>
                <li class="nav-item">
                    <a id="cm" class="nav-link" href="/cart">Cart <span class="badge badge-pill badge-success"  th:text="${itemCant}"></span></a>
                </li>
                <li class="nav-item">
                    <form method="get" action="/logout">
                        <button type="submit" class="mt-4 btn btn-primary btn-md">LOGOUT</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Shopping Cart</h2>
                </div>
                <div class="col-sm-6">
                    <!-- pensar que poner aqui-->
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prod : ${listProductCart}">
                <form action="/cart/delete" method="post">
                    <th class="row-data" scope="row"><input name="id"  readonly th:value="${prod.product.id}"></th>
                    <td class="row-data" th:text="${prod.product.name}">Name</td>
                    <td class="row-data" th:text="${prod.product.price}">Price</td>
                    <td class="row-data"><input name="cant" type="number" readonly th:value="${prod.cant}">
                    </td>
                    <td class="row-data" data-th-type="Integer" th:text="${prod.product.price*prod.cant}">Total</td>
                    <td>
                        <button class="btn btn-sm add" type="submit"><span class="material-icons">delete</span></button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <div class="row">
            <div class="col-sm-6">
                <h4>TOTAL:<span class="badge badge-pill badge-success ml-2" data-th-type="Integer" th:text="${total}"></span></h4>
            </div>
            <div class="col-sm-6">
                <form action="/cart/pay" method="post">
                    <input name="name" type="text" placeholder="NAME OF CLIENT" required>
                    <button type="submit" class="ml-4 btn btn-primary btn-md">COMPLETE ORDER</button>
                </form>

            </div>
        </div>

    </div>
</div>




<!-- Bootstrap Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>